

html, body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  background-size: cover;
  color: white;
  text-shadow: 1px 1px 3px darkgrey;
}

/**{
  box-sizing: border-box;
}*/

#container{
  width: 70%;
  margin:auto;
  margin-top: 5%;
  text-align: center;
}


#weather-container{
  text-align:right;
  font-size:2em;
  font-family: 'Oswald', sans-serif;
  margin-right: 10px;
}

#temperature{
  font-size:0.5em;
}

#region{
  font-size:0.5em;
}

#time{
  font-size: 10em;
  margin-bottom:0;
}

/*Quote Line */
#randomQuote{
  text-align:center;
  margin-top: 100px;
}

input{
  width : 50%;
  height: 25px;
  font-size: 2em;
  color: white;
  border : none;
  border-bottom : 2px solid white;
  background-color: transparent;
  text-align: center;
  }

input:focus{
  outline: none;
  border: none;
  border-bottom : 2px solid white;

}

ul{
  list-style-type: none;
  padding: 0;
}

li{
  font-size: 1.5em;
  text-align: center;
  margin: auto;
}


.remove{
  margin-left: 10px;
  border: 2px solid white;
  border-radius: 100%;
  transition: all 0.7s ease;


}
.remove:hover{
  opacity: .7;
  border-color: red;
  color: red;
}



button {
  margin-right: 10px;
  color: #fff;
  background-color: #6496c8;
  border-radius: 15px;
  box-shadow: 0 2px #27496d;
  margin: auto;
  outline:none;
}

button:hover,
button.hover {
  cursor: pointer;
  background-color: #417cb8
}

.done{
  text-decoration: line-through;
  color: #778899;
}

.fade-out {
  opacity: 0;
  animation: fadeOut .5s ease-in 1 forwards;
}
