body{
  background-image: url("https://images.unsplash.com/photo-1473800447596-01729482b8eb?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=40eba4c15ec393c84db9c76380d26869");
  background-size: cover;
  background-height: 100%;
  color: white;
}

#container{
  width: 70%;
  margin: 20% auto;
  text-align: center;
}

#weather-container{
  text-align:right;
  font-size:2em;
  font-family: 'Oswald', sans-serif;
}

#temperature{
  font-size:0.5em;
}

#region{
  font-size:0.5em; 
}

/*Quote Line */
#randomQuote{
  text-align:center;
}

input{
  width : 50%;
  height: 25px;
  font-size: 2em;
  color: white;
  border : none;
  border-bottom : 2px solid white;
  background-color: transparent;
  }

input:focus{
  outline: none;
  border: none;
  border-bottom : 2px solid white;

}
